<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV to JSON - Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .btn-custom {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Welcome to CV to JSON</h1>
                <p class="text-center">Transform your CVs and Resumes into structured JSON format effortlessly!</p>
                <p class="text-center">Our application allows you to upload your CV in PDF or DOCX format, and we will extract key information and present it in a well-structured JSON format.</p>
                <div class="text-center">
                    <a href="/upload" class="btn btn-custom btn-lg">Get Started</a>
                </div>
                <center> A simple CV to Json tool by <a href="https://www.linkedin.com/in/tinkvu/"> @tinkvu </a> </center>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

